{% extends "base.admin.html.twig" %}
{% block title %}{{ parent() }} - Edition article {{ post.Titre }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Modifier l'Article</h1>
        <form name="postAdd" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="postTitre">Titre</label>
                <input type="text" class="form-control" id="postTitre" name="postTitre" placeholder="titre de l'article" value="{{ post.Titre }}">
            </div>

            <div class="form-group">
                <label for="postDescription">Description</label>
                <textarea class="form-control" id="postDescription" name="postDescription" rows="3" placeholder="Description de l'article">{{ post.Description }}</textarea>
            </div>

            <div class="form-group">
                <label for="postAuteur">Auteur</label>
                <select class="form-control" id="postAuteur" name="postAuteur">
                    <option value="Brice" {% if post.Auteur == 'Brice' %}selected="selected"{% endif %}>Brice</option>
                    <option value="Bruno" {% if post.Auteur == 'Bruno' %}selected="selected"{% endif %}>Bruno</option>
                    <option value="Fabien" {% if post.Auteur == 'Fabien' %}selected="selected"{% endif %}>Fabien</option>
                    <option value="Marion" {% if post.Auteur == 'Marion' %}selected="selected"{% endif %}>Marion</option>
                    <option value="Marion" {% if post.Auteur == 'Emmanuel' %}selected="selected"{% endif %}>Emmanuel</option>
                    <option value="Marion" {% if post.Auteur == 'Sylvie' %}selected="selected"{% endif %}>Sylvie</option>
                    <option value="Marion" {% if post.Auteur == 'Benoit' %}selected="selected"{% endif %}>Benoit</option>
                    <option value="Marion" {% if post.Auteur == 'Jean-Pierre' %}selected="selected"{% endif %}>Jean-Pierre</option>
                </select>
            </div>
            <div class="form-group">
                <label for="postDate">Date de l'article</label>
                <input type="date" class="form-control" id="postDate" name="postDate" value="{{ post.DateAjout|date('Y-m-d') }}" >
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="postImage">fichier Image</label>
                        <input type="file" class="form-control" id="postImage" name="postImage" >
                    </div>
                </div>
                <div class="col-6">
                    {% if file_exist( './uploads/images/'~post.getImageRepository~'/'~post.getImageFileName ) and post.getImageFileName !="" %}
                        <img src="/uploads/images/{{ post.getImageRepository }}/{{ post.getImageFileName }}" class="img-thumbnail"/>
                    {% endif %}
                </div>
            </div>
            <input type="hidden" name="postImageFull" id="postImageFull" value="{{ post.getImageRepository}}/{{ post.getImageFileName}}">
            <input type="hidden" name="postId" id="postID" value="{{ post.id }}">
            <input type="hidden" name="token" value="{{ session.token }}">
            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
    </div>

{% endblock %}