{% extends "base.admin.html.twig" %}
{% block title %}{{ parent() }} - Liste des articles {% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Liste des articles</h1>
        <form name="recherche" method="POST" class="form-inline my-2 my-lg-0">
            <div class="col-2">
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-8"></div>
            <div class="col-2"><a class="btn btn-primary" href="/Adminpost/Add">Ajouter</a></div>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in dataPosts %}
            <tr>
                <th scope="row"><a href="/AdminPost/View/{{ post.id }}">#{{ post.id }}</a></th>
                <td>{{ post.Titre }}</td>
                <td>{{ post.Auteur }}</td>
                <td>{{ post.DateAjout|date("d/m/Y") }}</td>
                <td>
                    <a class="btn btn-success" href="/AdminPost/View/{{ post.id }}">Voir</a>
                    <a class="btn btn-warning" href="/AdminPost/Edit/{{ post.id }}">Editer</a>
                    <a class="btn btn-danger" href="/AdminPost/Delete/{{ post.id }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}